@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgb(255, 233, 207);
    border-radius: 20px;

}

.single-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    min-height: 300px;
    min-width: 80vw;
    max-width: 80vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(255, 233, 207);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.twoPart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    min-height: 300px;
    min-width: 80vw;
    max-width: 80vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(255, 233, 207);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.search {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search input {
    flex-grow: 1;
    border-radius: 15px;
    height: 40px;
    border: none;
    padding: 5px;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Define styles for the button */
.search button {
    display: inline-flex;
    /* Makes the button fit its content */
    align-items: center;
    /* Centers the content vertically */
    justify-content: center;
    /* Centers the content horizontally */
    width: 50px;
    /* Adjust width as needed */
    height: 40px;
    /* Adjust height as needed */
    background-color: transparent;    

    /* Background color */
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Change cursor to pointer */
    overflow: hidden;
    /* Hide any overflow */
    margin-left: 5px;

}
/* Define styles for the image */
.search button img {
    max-width: 100%;
    /* Ensures image doesn't exceed button width */
    max-height: 100%;
    /* Ensures image doesn't exceed button height */
    object-fit: cover;
    /* Maintains aspect ratio, cropping if needed */
}

.options{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.options label{
    font-size: 20px;
    letter-spacing: 2px;
}
.options input{
    height: 20px;
}
.dark{
    color: red;
}


/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.generate-random-container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color:#de3500 #0000 #fff #0000;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
 }
 .loader:before , .loader:after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
  }
 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }
.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw
}

.error{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}